# Auto
.DS_Store
__pycache__
*.ipynb_checkpoints*
*.egg-info
*.pyc
*.sh.o*
*.out
*.mat

# Large files
*.tif
*.tiff
*.nii
*.nii.gz
*.vtu
*.mov
*.avi
*.pptx
*.pkl
*.h5
*.npy

# Folders
registrations
scratch
hists
*org
dipy_examples
mri
hardi/results
odfs
precomputed
generic_xyz
comparison_report
*whole-brain-PI-Report*
xray_first_pass
second_pass
notes/Gordon/poster/references
register/small_xray_to_struct
register/struct_to_diff_poster
register/xray_to_struct
notes/2018-05-25-HARDI/*.npy
notes/2018-05-25-HARDI/*/results
notes/2018-05-25-HARDI/*/*.sh
*memory_profiling*
*FA_test_results
maxmin
notes/2018-08-22-bit-depth/2018/results
notes/2018-08-22-bit-depth/results
notes/2018-09-05-speedup-pipeline/eig
notes/2018-09-05-speedup-pipeline/profile_pipeline.py
notes/2018-09-14-paper
*scratch.py
notes/2018-09-17-bit-depth/metric_maps/
notes/2018-09-17-bit-depth/odf_plots/
notes/2018-09-17-bit-depth/resources/