# Auto
.DS_Store
__pycache__
*.ipynb_checkpoints*
*.egg-info
*.pyc
*.sh.o*
*.out
*.mat

# Large files
*.tif
*.nii.gz
*.vtu
*.mov
*.avi
*.pptx
*.pkl
*.h5

# Folders
registrations
scratch
hists
*org
dipy_examples
mri
hardi/results
odfs
precomputed
generic_xyz
comparison_report
xray_first_pass
second_pass
notes/Gordon/poster/references
register/small_xray_to_struct
register/struct_to_diff_poster
register/xray_to_struct
notes/2018-05-25-HARDI/*.npy
notes/2018-05-25-HARDI/*/results
notes/2018-05-25-HARDI/*/*.sh

