# Auto
.DS_Store
__pycache__
*.ipynb_checkpoints*
*.egg-info
*.pyc

# Large files
*.tif
*.nii.gz
*.vtu
*.mov
*.avi
*.pptx

# Folders
registrations
scratch
hists
*org
dipy_examples
mri
hardi/results
odfs
precomputed